node_modules/**  linguist-vendored
packages/**      linguist-vendored
dist/**          linguist-generated
build/**         linguist-generated
*.min.js         linguist-generated
*.min.css        linguist-generated
*.map            linguist-generated

*.cshtml linguist-language=C#
*.razor  linguist-language=C#
